.container_add {
  height: 500px;
  overflow-y: scroll;
}
.container_add::-webkit-scrollbar {
  display: none;
}
.Edit {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.form_edit {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 400px;
}
.save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
}
.cancel {
  align-self: start;
}
